<div class="big-div">
<div class="height-mini-block border-bord" class="one">
    <img src="http://istyleprod.s3.amazonaws.com/RO/newdesign/LP/Servicii/Servicii_icon6_v4.png" class="img-icon" style="vertical-align:middle" width=5%>
    
    <h3 class="subtitle-service black"> iShop Insurance.</h3>
    <p class="detail-service black-no">
        Do you want to use your product without worrying, knowing that you can call an iShop specialist whenever you   need it?</p>
</div>

<div class="height-mini-block border-bord" class="two">
    <img src="http://istyleprod.s3.amazonaws.com/RO/newdesign/LP/Servicii/Servicii_icon5_v4.png" class="img-icon" style="vertical-align:middle" width=5%>
    
    <h3 class="subtitle-service black">iShop One 2 One.</h3>
    <p class="detail-service black-no">Do you want to use your product without worry, knowing that you can call an iShop specialist whenever you need it? Then iShop one2one is your ideal choice for the whole year!</p>
</div>
<p>
</p>
<div class="height-mini-block border-bord" class="one">
    <img src="http://istyleprod.s3.amazonaws.com/RO/newdesign/LP/Servicii/Servicii_icon4_v4.png" class="img-icon" style="vertical-align:middle" width=5%>

    <h3 class="subtitle-service black">iShop Learn.</h3>
    <p class="detail-service black-no">
        Want to discover more about what you can do with Apple products? Our experts will help you enrich your knowledge and find out how you can better use your favorite Apple products.</p>
</div>

<div class="height-mini-block border-bord" class="two">
    <img src="http://istyleprod.s3.amazonaws.com/RO/newdesign/LP/Servicii/Servicii_icon1_v4.png" class="img-icon" style="vertical-align:middle" width=5%>
        
    <h3 class="subtitle-service black">iShop Start.</h3>
    <p class="detail-service black-no">We help you get to know your new Apple product. An iShop specialist guides you through the initial configuration of your computer or device, introduces basic features, assists you in setting up your email account, creating an Apple ID, and activating iCloud functionality.</p>  
</div>

</div>