PROIECT PW 	
		
Cerinte :
•	un magazin online care va avea un admin , si utilizatori
•	acestia isi vor putea crea cont si sa se logheze
•	admin-ul va putea sterge cont-uri
•	cont-ul este format din mail si parola
•	user-ul va avea o pagina de setari , de unde isi va putea modifica parola , mail-ul , adresa
•	admin-ul va fi cel care va adauga produse
•	user-ul va putea comanda un produs( daca va mai fi in stoc)
•	acesta va putea vizualiza un istoric al comenzilor si va putea efectua un retur
•	utilizatorii vor putea lasa comentarii la fiecare produs si un rating
•	admin-ul va putea sterge comentarii
•	un admin va putea sa dea unui user drepturi de admin
•	produsele vor avea un tag
•	user-ul va putea cauta pe baza tag-ului in lista de produse
•	lista de produse va putea fi filtrata pe baza unor categorii


Specificatii :
•	site-ul va fi format din 2 proiecte : front-end si back-end
•	front-end-ul va fi realizat in Angular 4 ( limbajul  :Typescript  )
•	vom folosi npm pentru a gestiona modulele instalate in Angular
•	back-end-ul il vom face in NodeJs si MongoDB
•	vom avea un server local pe care vom incarca pozele , iar in baza de data vom salva un path catre acestea
•	vom avea diferite API-uri pentru a implementa functionalitatea site-ului
•	comunicarea intre site si server se va face pe baza JSON-urilor
•	admin-ul va adauga produse in baza de date
•	vom folosi Mongo
•	in baza de date vor fi salvate informatiile utilizatorului
•	pentru componente vom folosi Bootstrap
•	pentru icoane vom folosi Font Awesome
•	erorile vor fi tratate de catre API

