<div class="container">  
  <form id="contact" action="" method="post" (ngSubmit)="contact(model.name,model.mail,model.phone,model.message)" #f="ngForm" >
    <h3>Quick Contact</h3>
    <h4>Contact us today, and get reply with in 24 hours!</h4>
    <fieldset>
      <input placeholder="name" type="text" tabindex="1" name="name" [(ngModel)]="model.name" #name="ngModel" required autofocus>
    </fieldset>
    <fieldset>
      <input type="email" tabindex="2" name="mail" [(ngModel)]="model.mail" placeholder="mail" #mail="ngModel" required>
    </fieldset>
    <fieldset>
      <input placeholder="phone" type="tel" tabindex="3" name="phone" [(ngModel)]="model.phone" #phone="ngModel" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="message" tabindex="5" name="message" [(ngModel)]="model.message" placeholder="message" #message="ngModel" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>