<mat-tab-group *ngIf="!isAdmin">
  <mat-tab label="Orders&Returns">
    <h1 style="padding-left:5px;padding-top:1%"> Here you can find your orders : </h1>
    <mat-list role="list" style="overflow:hidden" >
        <mat-list-item role="listitem" *ngFor="let order of orders"  > 
          <h3>{{order.comanda}}</h3>
         <div  style="float:right;margin-right:10px" *ngIf="order.my_id == false" >
            <button class="btn btn-success" (click)="MakeRetur(order.my_id)"> Returneaza </button>
          </div>
        </mat-list-item>
    </mat-list>

    <div class="row" *ngFor = "let order of orders; let i = index" style="overflow:hidde!important" >
        <mat-card style="overflow:hidde!important"> 
            {{order.comanda}}
            <button class="btn btn-success" *ngIf="order.my_id == false"  (click)="MakeRetur(order.my_id)"> Returneaza </button>
        </mat-card>
        
    </div>


  </mat-tab>
  <mat-tab label="Change credentials">
    <h1 style="padding-left:5px;padding-top:1%">Insert your new credentials :</h1>
    <form name="update-info" (ngSubmit)="UpdateAccount()" style="padding-left:10%;padding-right:15%">
      <div class="form-group" >
          <input type="text" class="form-control" name="new_mail" placeholder="E-mail" [(ngModel)]="new_mail" />
      </div>
      <div class="form-group" >
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password" />
      </div>
      <button  class="btn btn-primary" style="float : right">Update</button>
  </form>
  </mat-tab>
</mat-tab-group>

<mat-tab-group *ngIf="isAdmin">
  <mat-tab label="Users" style="overflow:hidde!important">
    <h1>Here is the list with all the users: </h1>
    
    <div class="row" *ngFor = "let user of users; let i = index" style="overflow:hidde!important" >
        <mat-card style="overflow:hidde!important"> 
            {{user.user}}
            <button class="btn btn-success" style="float:right" *ngIf="user.admin == false" (click)="MakeAdmin(user.user)">Make Admin</button>
            <button class="btn btn-danger" style="float:right; margin-right:10px" *ngIf="user.user != name" (click)="DeleteUser(user.user)">Delete Account</button>
        </mat-card>
        
    </div>

    </mat-tab>
  <mat-tab label="Add product" style="overflow:hidden">
    <h1 style="padding-left:5px;padding-top:1%;overflow:hidden"> Add a new product: </h1>
    <form name="add-product" (ngSubmit)="InsertProduct()" style="padding-left:10%;padding-right:15%">
        <div class="form-group" >
            <input type="text" class="form-control" name="pr_name" placeholder="Name" [(ngModel)]="pr_name" />
        </div>
        <div class="form-group" >
            <input type="text" class="form-control" name="pr_cost" placeholder="Cost" [(ngModel)]="pr_cost" />
        </div>
        <div class="form-group" >
            <input type="text" class="form-control" name="pr_description" placeholder="Description" [(ngModel)]="pr_description" />
        </div>
        <button  class="btn btn-primary" style="float : right">Insert</button>
    </form>
  </mat-tab>
</mat-tab-group> 

