<div style="margin : 5px" >
  <div class= "row">
    <mat-card style="overflow:hidde!important ; width:50% ; margin-left:30%"> 
      <div class="input-group">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
          <input #myInput type="text" class="form-control" [(ngModel)]="searched_item"  (input)="filterItem(myInput.value)"  placeholder="Enter your item" aria-describedby="basic-addon1">
      </div>
    </mat-card>
  </div>
  <div class="row" style="margin-top:3%">
      <div class="col-md-4" *ngFor="let item of items ; let i=index" >
          <app-gallery [product_name]="item.name" [index] = "i" [image_location]="item.image_location"></app-gallery>
      </div> 
</div>
  
</div>