<mat-card class="example-card" [routerLink]="['/description']" (click)="SelectProduct(product_name)">
        <img mat-card-image src="http://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions align="right" >
          <p style="float:left!important">{{product_name}}</p>
          <button type="button" class="btn btn-danger" (click)="AddToBasket()" > <span class="fa fa-shopping-cart" aria-hidden="true" ></span>Buy</button>
          <button type="button" class="btn btn-info" (click)="Rate()" > <i class="fa fa-star" aria-hidden="true" >Rate</i></button>
          
        </mat-card-actions>
</mat-card>